<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="card">
                    <div class="header text-center">
                        <h4 class="title">Druki</h4>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="card card-home">
                        <div class="header">
                                <a href="https://srv-file7.gofile.io/download/GR8Sw9/PWS.pdf" class="btn btn-default btn-fill">PWS</a>
                            </div>
                    <div class="content">
                        <p class="description text">Druk Polecenia Wyjazdu Służbowego </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card card-home">
                        <div class="header">
                                <a href="https://srv-file7.gofile.io/download/KKBuKf/Protok%C3%B3%C5%82%20wizyty.docx" class="btn btn-default btn-fill">Protokół wizyty</a>
                            </div>
                    <div class="content">
                        <p class="description text">Protokół z odbytej wizyty u klienta </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card card-home">
                        <div class="header">
                                <a href="https://srv-file7.gofile.io/download/8xAm3u/Szkolenie%20z%20zakresu%20nanoszenia%20danych%20na%20grafiki%20dy%C5%BCurowe.docx" class="btn btn-default btn-fill">Szkolenie Grafikowe</a>
                            </div>
                    <div class="content">
                        <p class="description text">Druk dla uczestników szkolenia z nanoszenia danych na grafiki </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>