<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="card">
                    <div class="header text-center">
                        <h4 class="title">Druki</h4>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="card card-home">
                        <div class="header">
                                <a href="#" class="btn btn-default btn-fill">PWS</a>
                            </div>
                    <div class="content">
                        <p class="description text">Druk Polecenia Wyjazdu Służbowego </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>