<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form>
                        <div class="col-md-8">
                            <div class="header">
                                    <h4 class="title">Podstawowe Dane</h4>
                            </div>
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Data Zlecenia</label>
                                            <input type="date" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Numer delegacji </label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Data Wyjazdu</label>
                                            <input type="date" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Data Powrotu</label>
                                            <input type="date" class="form-control"> 
                                        </div>   
                                    </div>
                                </div>
                                <div class="row-md-12">
                                    <div class="form-group">
                                        <label>Cel wyjazdu</label>
                                        <select class="form-control">
                                            <option>Wdrożenie</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row-md-12">
                                    <div class="form-group">
                                        <label>Transport</label>
                                        <select class="form-control">
                                            <option>Samochód służbowy</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Kraj</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Miasto</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                </div>
                            </div>    
                        </div>
                        <div class="col-md-4">
                            <div class="header">
                                <h4 class="title">Dodatkowe Dane</h4>
                            </div>
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Umowa</label>
                                            <select class="form-control">
                                                <option>BB</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Zadanie</label>
                                            <select class="form-control">
                                                <option>Wdrożenie</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label>Ryczałt</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="row">
                                    <label>Dojazd</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="row">
                                    <label>Razem prejazdy</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="row">
                                    <label>Dieta</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="row">
                                    <label>Noclegi wg rachunku</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="row">
                                    <label>Inne wydatki</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        
                        <button type="submit" class="btn btn-info btn-fill pull-right">Zapisz</button>
                        <div class="clearfix"></div> 
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Moje delegacje</h4>
                        <p class="category">Delegacje w miesiacu Maj</p>
                    </div>
                    <div class="content">
                        <div class="table-full-width">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Rozliczenie PIT dla szpitala w Bielsku Białej</td>
                                        <td class="td-actions text-right">
                                            <a rel="tooltip" title="Zobacz Profil" class="btn btn-info btn-simple btn-xs">
                                                <i class="fa fa-user"></i>
                                            </a>
                                            <a rel="tooltip" title="Edytuj Profil" class="btn btn-success btn-simple btn-xs">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a rel="tooltip" title="Usuń" class="btn btn-danger btn-simple btn-xs">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Rozliczenie PIT dla IPIN</td>
                                        <td class="td-actions text-right">
                                            <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Kadry i płace Ceglana</td>
                                        <td class="td-actions text-right">
                                            <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Księgowość Medyków</td>
                                        <td class="td-actions text-right">
                                            <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Wynagrodzenia IPIN</td>
                                        <td class="td-actions text-right">
                                            <a rel="tooltip" title="Zobacz Profil" class="btn btn-info btn-simple btn-xs">
                                                <i class="fa fa-user"></i>
                                            </a>
                                            <a rel="tooltip" title="Edytuj Profil" class="btn btn-success btn-simple btn-xs">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a rel="tooltip" title="Usuń" class="btn btn-danger btn-simple btn-xs">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="footer">
                        <hr>
                        <div class="stats">
                            <i class="fa fa-history"></i> Updated 3 minutes ago
                        </div>
                    </div>
                </div>             
            </div>    
        </div>  
    </div>
</div>
