<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
                        <div class="col-md-8">
                            <div class="header">
                                    <h4 class="title">Podstawowe Dane</h4>
                            </div>
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Data Zlecenia</label> <!--DATA PICKERY DO ZROBIENIA-->
                                            <input name="orderDate" #orderDate="ngModel" [(ngModel)]="service.formData.orderDate" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Numer delegacji </label>
                                            <input name="numberDelegation" #numberDelegation="ngModel" [(ngModel)]="service.formData.numberDelegation" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Data Wyjazdu</label><!--DATA PICKERY DO ZROBIENIA-->
                                            <input name="departureDate" #departureDate="ngModel" [(ngModel)]="service.formData.departureDate" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Data Powrotu</label><!--DATA PICKERY DO ZROBIENIA-->
                                            <input name="arrivalDate" #arrivalDate="ngModel" [(ngModel)]="service.formData.arrivalDate" type="text" class="form-control"> 
                                        </div>   
                                    </div>
                                </div>
                                <div class="row-md-12">
                                    <div class="form-group">
                                        <label>Cel wyjazdu</label>
                                        <select name="purpose" #purpose="ngModel" [(ngModel)]="service.formData.purpose" class="form-control">
                                            <option>Wdrożenie</option>
                                            <option>Serwis</option>
                                            <option>Podpisanie umowy</option>
                                            <option>Szkolenie</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row-md-12">
                                    <div class="form-group">
                                        <label>Transport</label>
                                        <select name="transport" #transport="ngModel" [(ngModel)]="service.formData.transport" class="form-control">
                                            <option>Samochód służbowy</option>
                                            <option>Samochód prywatny</option>
                                            <option>Pociąg</option>
                                            <option>Autobus</option>
                                            <option>Taxi</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Kraj</label>
                                        <input name="country" #country="ngModel" [(ngModel)]="service.formData.country" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Miasto</label>
                                        <input name="city" #city="ngModel" [(ngModel)]="service.formData.city" type="text" class="form-control">
                                    </div>
                                </div>
                                </div>
                            </div>    
                        </div>
                        <div class="col-md-4">
                            <div class="header">
                                <h4 class="title">Dodatkowe Dane</h4>
                            </div>
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Umowa</label>
                                            <select name="contractId" #contractId="ngModel" [(ngModel)]="service.formData.contractId" class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label>Ryczałt</label>
                                    <input name="lumpSum" #lumpSum="ngModel" [(ngModel)]="service.formData.lumpSum" type="text" class="form-control">
                                </div>
                                <div class="row">
                                    <label>Dojazd</label>
                                    <input name="driveCost" #driveCost="ngModel" [(ngModel)]="service.formData.driveCost" type="text" class="form-control">
                                </div>
                                <div class="row">
                                    <label>Razem prejazdy</label>
                                    <input name="driveSum" #driveSum="ngModel" [(ngModel)]="service.formData.driveSum" type="text" class="form-control">
                                </div>
                                <div class="row">
                                    <label>Dieta</label>
                                    <input name="diet" #diet="ngModel" [(ngModel)]="service.formData.diet" type="text" class="form-control">
                                </div>
                                <div class="row">
                                    <label>Noclegi wg rachunku</label>
                                    <input name="accomodationCost" #accomodationCost="ngModel" [(ngModel)]="service.formData.accomodationCost" type="text" class="form-control">
                                </div>
                                <div class="row">
                                    <label>Inne wydatki</label>
                                    <input name="otherCost" #otherCost="ngModel" [(ngModel)]="service.formData.otherCost" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        
                        <button type="submit" class="btn btn-info btn-fill pull-right">Zapisz</button>
                        <div class="clearfix"></div> 
                    </form>
                </div>
            </div>
        </div>
        <div>
            <app-deleagation-list></app-deleagation-list>
        </div>
    </div>
</div>
