<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Dodaj nowy pojazd</h4>
                    </div>
                    <div class="content">
                        <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Model</label>
                                        <input name="model" #model="ngModel" [(ngModel)]="service.formData.model" type="text" class="form-control" placeholder="Model">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Marka</label>
                                        <input name="company" #company="ngModel" [(ngModel)]="service.formData.company" type="text" class="form-control" placeholder="Marka">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Rok Produkcji</label>
                                        <input name="year" #year="ngModel" [(ngModel)]="service.formData.year" type="text" class="form-control" placeholder="Rok Produkcji">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Typ</label>
                                        <select class="form-control" name="type" [(ngModel)]="service.formData.type" required>
                                            <option value="" disabled selected hidden>Wybierz rodzaj pojazdu</option>
                                            <option>Służbowy</option>
                                            <option>Prywatny</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Numer rejestracyjny</label>
                                        <input name="paltes" #plates="ngModel" [(ngModel)]="service.formData.plates" type="text" class="form-control" placeholder="Numer Rejestracyjny">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Kolor</label>
                                        <input name="colour" #colour="ngModel" [(ngModel)]="service.formData.colour" type="text" class="form-control" placeholder="Kolor">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Moc silnika</label>
                                        <input name="horsePower" #horsePower="ngModel" [(ngModel)]="service.formData.horsePower" type="text" class="form-control" placeholder="Moc silnika">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Pojemność silnika</label>
                                            <input name="capacity" #capacity="ngModel" [(ngModel)]="service.formData.capacity" type="text" class="form-control" placeholder="Pojemność silnika">
                                        </div>
                                    </div>
                            </div>

                            <button type="submit" class="btn btn-info btn-fill pull-right">Zapisz</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div>
                <app-cars-list></app-cars-list>
            </div>
        </div>
    </div>
</div>
